<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}: {{ title }}</title>

  <link href="style.css" rel="stylesheet">
  {{#if serve}}
  <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body {{#if wide }}class="wide"{{/if}}>
  <header>
    <nav>
      <h1>
          <a href="./{{ relative '/' }}">{{ site.name }}</a>
      </h1>
      {{#each pages}}
      <p><a href="{{ relative this.link }}">{{ this.title }}</a></p>
      {{/each}}
    </nav>
  </header>
  <main>
  {{{ contents }}}
  </main>
  <footer>
      <p><a href="https://www.cornell.edu">Cornell University</a>
      &mdash;
      <a href="http://www.csl.cornell.edu">Computer Systems Laboratory</a></p>
  </footer>
</body>
</html>
