$main-color: rgb(179, 27, 27);  // Theme color.
$disabled-color: #666;  // Grayed-out color.
$exception-color: #ccc;  // Highlight color for "different" rows.
$max-width: 40rem;  // Width of the content.
$small-width: 400px;  // "Small devices" are smaller than this.


// Layout.
body {
  margin: 0;
}

header {
  width: 100%;
  nav {
    padding: 0.5rem 0.5rem;
    display: block;
    margin: auto;
    max-width: $max-width;

    p, h1 {
      margin: 0;
      padding: 0.5rem 0;
      display: inline-block;
    }
    p {
      margin-left: 0.5rem;
    }

    // Compact layout on small screens.
    @media (max-width: $small-width) {
      padding: 0 0.5rem;
    }
  }
}

main {
  margin: 1rem auto;
  padding: 0 0.5rem;
  max-width: $max-width;
}

// On wide pages, do not constrain.
body.wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  main {
    margin: 1rem;
    max-width: none;
  }
}


// Fonts.
body {
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  line-height: 140%;
}

a {
  color: $main-color;
}

h1 {
  line-height: 110%;
  margin-top: 0;
}


// Header links.
header {
  background: $main-color;
  color: white;
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    font-size: inherit;
    font-weight: bold;
  }
}


// Footer links.
footer {
  text-align: center;
  margin: 1rem;
  color: $disabled-color;
  font-size: 80%;
  a {
    color: inherit;
    text-decoration: none;
  }
}


// Illustration image.
img.illus {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    @media (max-width: $small-width) {
        display: none;
    }
}
